# OS별 임시 파일
.DS_Store
Thumbs.db

# 환경 설정 파일
.env

# IDE/Editor 설정 파일
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 캐시 파일
.cache/
__pycache__/
*.py[cod]

# Docker 관련
docker-compose.yaml
.docker/
**/Dockerfile.*
